@model IEnumerable<SistemaDistribuidora.Models.PersonaModel>

@{
    ViewData["Title"] = "BuscarPersona";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Buscar Persona</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"> 

    <p>
        <a asp-action="Create" asp-controller="Persona">Crear nueva persona</a>
    </p>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DNI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr data-dismiss="modal">
                <td>
                    @Html.DisplayFor(modelItem => item.PersonaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    <a class="text-success">Seleccionar</a>                    
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>

@*HACK: ver porque lo tengo que referenciar*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    //Llamo al script de la ventana padre, que setea el dni en el control correspondiente
    $(document).ready(function () {
        $("table tbody tr").click(function () {
            parent.recibir_Parametros($(this).find("td:eq(1)").text().trim(), $(this).find("td:eq(0)").text().trim());
        });
    });

            
</script>

