@model IEnumerable<SistemaDistribuidora.Models.MarcaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Marca</h1>

<p>
    <a asp-action="Create">Crear una nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarcaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MarcaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MarcaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
