@model SistemaDistribuidora.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.PersonaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario.TipoUsuarioId)
        </dd>
    </dl>
</div>
<div>
    @*HACK: ver el tema de que sea clara la navegacion*@
    <a asp-action="Details" asp-controller="Persona" asp-route-id="@Model.PersonaId">Ver persona</a> |
    <a asp-action="Edit" asp-route-id="@Model.UsuarioId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
