@model IEnumerable<SistemaDistribuidora.Models.OfertaDetalleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescuentoPorcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadValidadDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescuentoCantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescuentoPorcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadValidadDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescuentoCantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oferta.OfertaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfertaDetalleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfertaDetalleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfertaDetalleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
