@model SistemaDistribuidora.Models.OfertaDetalleModel


<h1>Gestor de Ofertas</h1>
<hr />
@*Seccion para agregar prodcutos a la oferta*@
<section>
    <h3>Producto y precio</h3>
    <form asp-action="AgregarDetalle">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Producto.Nombre" class="control-label"></label>
                    <input asp-for="Producto.Nombre" class="form-control" value=@ViewBag.ProductoNombre />                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Buscar
                    </button>
                </div>
                @*Ventana modal para buscar producto*@
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Buscar Producto</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="vistaParcialDiv">                                   
                                    @await Component.InvokeAsync("BuscarProductoViewComponent", "1")
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Producto.Precios.Last().Valor" class="control-label"></label>
                    <input asp-for="Producto.Precios.Last().Valor" class="form-control" readonly value=@ViewBag.ProductoPrecio />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="DescuentoPorcentaje" class="control-label"></label>
                    <input asp-for="DescuentoPorcentaje" class="form-control" />
                    <span asp-validation-for="DescuentoPorcentaje" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" value="Reiniciar" class="btn btn-primary" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>

<hr />

@*Tabla que muestra los productos con sus valores de precio que han ido agregando*@
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Precios.Last().Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescuentoPorcentaje)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Detalles != null)
            {
                @foreach (var item in (List<OfertaDetalleModel>)ViewBag.Detalles)
                {
                    <tr>
                        <td>
                            @item.Producto.Nombre
                        </td>
                        <td>
                            @item.Producto.Precios.Last().Valor
                        </td>
                        <td>
                            @item.DescuentoPorcentaje
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

<hr />

@*Datos propios de la oferta*@
<section>
    <h3>Configuracion</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Oferta.FechaInicio" class="control-label"></label>
                <input asp-for="Oferta.FechaInicio" class="form-control" />
                <span asp-validation-for="Oferta.FechaInicio" class="text-danger"></span>
                <label asp-for="Oferta.FechaFin" class="control-label"></label>
                <input asp-for="Oferta.FechaFin" class="form-control" />
                <span asp-validation-for="Oferta.FechaFin" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Recordar Oferta</label>
            <input type="checkbox" name="recordarOferta" class="btn btn-primary" value="false" />
        </div>
        <div class="col-md-4">
            <label class="control-label">Pagina Principal</label>
            <input type="checkbox" name="ofertaPrincipal" class="btn btn-primary" value="false" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Oferta.Nombre" class="control-label">Nombre de Oferta</label>
                <input asp-for="Oferta.Nombre" class="form-control" />
                <span asp-validation-for="Oferta.Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="button" value="Reiniciar" class="btn btn-primary" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Crear" class="btn btn-primary" />
        </div>
    </div>
</section>

@*-------------------------------------------------------SCRIPT--------------------------------------------------------------*@

@*<script>
        function BuscarProducto() {
        var productoPartial = '@Url.Action("BuscarProductoViewP", "Producto")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: productoPartial,
            data: {},
            success: function (response) {
                $('#vistaParcialDiv').html('');
                $('#vistaParcialDiv').html(response);
            }
        });
    }
    </script>*@