@model SistemaDistribuidora.Models.OfertaDetalleModel


<h1>Gestor de Ofertas</h1>
<hr />
@*Seccion para agregar prodcutos a la oferta*@
<section>
    <h3>Producto y precio</h3>
    <form asp-action="AgregarDetalle">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="Producto.ProductoId" class="form-control" value=@ViewBag.ProductoId name="ProductoId" type="hidden"/>
                    <label asp-for="Producto.Nombre" class="control-label"></label>
                    <input asp-for="Producto.Nombre" class="form-control" value=@ViewBag.ProductoNombre name="ProductoNombre" />                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" value="Buscar" class="btn btn-primary" onclick="location.href='@Url.Action("BuscarProductoView", "BuscarProducto")'" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Producto.Precios.Last().Valor" class="control-label"></label>
                    <input asp-for="Producto.Precios.Last().Valor" class="form-control" readonly value=@ViewBag.ProductoPrecio name="ProductoPrecio" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="DescuentoPorcentaje" class="control-label"></label>
                    <input asp-for="DescuentoPorcentaje" class="form-control" />
                    <span asp-validation-for="DescuentoPorcentaje" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" value="Reiniciar" class="btn btn-primary" />
            </div>
            <div class="col-md-4">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>

<hr />

@*Tabla que muestra los productos con sus valores de precio que han ido agregando*@
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Precios.Last().Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescuentoPorcentaje)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Oferta != null)
            {
                @foreach (var item in ViewBag.Oferta)
                {
                    <tr>
                        <td>
                            @*ProductoNombre*@
                            @item[0]
                        </td>
                        <td>
                            @*ProductoPrecio*@
                            @item[1]
                        </td>
                        <td>
                            @*Descuento*@
                            @item[2]
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>

<hr />

@*Datos propios de la oferta*@
<section>
    <h3>Configuracion</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Oferta.FechaInicio" class="control-label"></label>
                <input asp-for="Oferta.FechaInicio" class="form-control" />
                <span asp-validation-for="Oferta.FechaInicio" class="text-danger"></span>
                <label asp-for="Oferta.FechaFin" class="control-label"></label>
                <input asp-for="Oferta.FechaFin" class="form-control" />
                <span asp-validation-for="Oferta.FechaFin" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Recordar Oferta</label>
            <input type="checkbox" name="recordarOferta" class="btn btn-primary" value="false" />
        </div>
        <div class="col-md-4">
            <label class="control-label">Pagina Principal</label>
            <input type="checkbox" name="ofertaPrincipal" class="btn btn-primary" value="false" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Oferta.Nombre" class="control-label">Nombre de Oferta</label>
                <input asp-for="Oferta.Nombre" class="form-control" />
                <span asp-validation-for="Oferta.Nombre" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="button" value="Reiniciar" class="btn btn-primary" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Crear" class="btn btn-primary" />
        </div>
    </div>
</section>

@*-------------------------------------------------------SCRIPT--------------------------------------------------------------*@

@*<script>
        function BuscarProducto() {
        var productoPartial = '@Url.Action("BuscarProductoViewP", "Producto")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: productoPartial,
            data: {},
            success: function (response) {
                $('#vistaParcialDiv').html('');
                $('#vistaParcialDiv').html(response);
            }
        });
    }
    </script>*@