@model IEnumerable<SistemaDistribuidora.Models.PersonaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Personas</h1>

<p>
    <a asp-action="Create">Crear nueva persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
