@model IEnumerable<SistemaDistribuidora.Models.AutomotorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Automotor</h1>

<p>
    <a asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutomotorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AutomotorId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.AutomotorId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
