@model IEnumerable<SistemaDistribuidora.Models.ProductoModel>


<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Buscar Producto</h1>
<section>
    <form asp-action="BuscarProductoView">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="First().Nombre" class="control-label"></label>
                    <input name="filtroNombre" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Buscar" class="btn btn-primary" asp-route-filtroNombre="filtroNombre" asp-route-filtroCodigo="filtroCodigo"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="First().Codigo" class="control-label"></label>
                    <input name="filtroCodigo" class="form-control" />
                </div>
            </div>           
        </div>
    </form>
</section>
<table class="ctrlTable table table-striped table-bordered table-hover" cellspacing="0" id="ProductoTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.disponibilidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.MarcaId)
                </td>
                <td>                    
                    <a asp-action="OfertasGestorView" asp-controller="OfertaDetalle" asp-route-id="@item.ProductoId">seleccionar</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    
</script>
